.menuContainer {
    position: absolute;
    right: 0;
    top: 10px;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: var(--white);
    padding: 13px 20px;
    color: var(--grey99);
    z-index: 5;
}

.menuButton {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 31px;
    background: transparent;
    border: 0;
}
.menuButton:active, .menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
}
.menuContainer div {
    align-items: center;
    display: flex;
    padding: 7px 0;
    font-size: 14px;
    color: var(--grey99);
    cursor: pointer;
}
.menuContainer div:not(:last-child) {
    border-bottom: 1px solid var(--greyEC);
}
.menuContainer svg {
    margin-right: 6px;
}
.menuContainer div:hover {
    color: #CC6633;
}
.menuItem {
    color: #CC6633 !important;
}
